$background-color: #cdfffc;
$titr-color: darkcyan;
$hover-color: cadetblue;
$light-text: whitesmoke;
$dark-text: black;
$button-color: darkturquoise;
$cover-color: -webkit-linear-gradient(right, darkcyan, #002b2b);
