a:link, visited, hover, active {
  text-decoration: none;
  color: black;
}

p {
  margin: 1px;
  padding: 1px;
}

body, html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: $background-color;
  display: block;

}
