a:link, visited, hover, active {
  text-decoration: none;
  color: black;
}

p {
  box-sizing: border-box;
  margin: 1px;
  padding: 1px;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 1rem;
}
