@import "../helpers/mixins";

.myblog-body {
  @media screen and (min-width: $mobile-width) {
    @include vendor-prefixes(column-count, 1);
  }
  @media screen and (min-width: $tablet-width) {
    @include vendor-prefixes(column-count, 3);
  }
  @media screen and (min-width: $desktop-width) {
    @include vendor-prefixes(column-count, 4);
  }
  position: absolute;
  left: 0px;
  right: 0px;
  padding-bottom: 1rem;
  text-align: center;
  margin: auto;
  width: 80%;
  .post {
    display: inline-block;
    //    padding: 0.7rem;
    &:hover {
      background: $hover-color;
      .block-titr {
        background: $hover-color;
      }
    }
  }
  .button {
    float: left;
    margin-left: 0.5rem;
  }
}