@import "../components/components";
@import "../helpers/variables";
@import '../base/reset';


body {
  font-family: sans-serif;
  background: $background-color;
  display: block;

  .cover {
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 1rem;
    .image {
      @include vendor-prefixes(border-radius, 0.3rem);
      float: left;
      width: 16%;
      display: table-cell;
      vertical-align: middle;
    }

    .info {
      display: inline-block;
      margin-left: 2rem;
      position: relative;
      width: 40%;
    }

    .contact {
      display: inline-block;
      float: right;
      margin-right: 2rem;
      margin-top: 9rem;
      font-size: 0.8rem;
      max-width: 30%;
    }
  }

  .body {
    display: block;

    .block {
      @media screen and (min-width: $mobile-width) {
        margin: 1rem 5% 1rem 5%;
        left: 0;
        width: 90%;
      }
      @media screen and (min-width: $tablet-width) {
        margin-left: 25%;
        margin-bottom: 1rem;
        width: 60%;
      }

      .block-item {
        @include vendor-prefixes(border-bottom-right-radius, 5px);
        @include vendor-prefixes(border-bottom-left-radius, 5px);
        border: solid $titr-color 0.13rem;
        box-sizing: border-box;
        padding: 1rem;
        display: block;

        .both {
          display: block;
          .resume-titr {
            display: inline-block;
            float: left;
            //      margin-left: 50px;
            margin-top: 20px;
            width: 100px;
          }

          .resume-item {
            display: inline-block;
            margin-right: 50px;
            width: 400px;
          }
        }
      }
    }

    .bar {
      @media screen and (min-width: $mobile-width) {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      @media screen and (min-width: $tablet-width) {
        float: left;
        width: 17%;
      }
      background: $titr-color;
      background: -webkit-linear-gradient(right, darkcyan, #002b2b); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, darkcyan, #002b2b); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, darkcyan, #002b2b); /* For Firefox 3.6 to 15 */
      background: linear-gradient(right, darkcyan, #002b2b);
      .bar-item {
        color: $light-text;
        box-sizing: border-box;
        padding: 15px;
        border: solid $hover-color 0rem;
        border-bottom-width: 2px;
        &:hover {
          background: $hover-color;
        }
      }
    }
  }
}
